<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>Now Showing</h1>
    {% if movies %}
        <ul>
        {% for movie in movies %}
            <li>
                <strong>{{ movie.title }}</strong><br>
                {{ movie.description }}<br>
                Release: {{ movie.release_date }} | Duration: {{ movie.duration }} min
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies are currently available.</p>
    {% endif %}
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
